

.carrousel {
    background: #ffffff;
    text-align: center;
    padding: 0 0;
    height: 15rem;
    max-width: 750px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

  .carrousel .slides {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 0;
    overflow: hidden;
    list-style: none;
    position: relative;
  
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

.carrousel .slides li {
    width: 25%;
    position: relative;
    float: left;
}

.carrousel li p{
    margin-top: 0;  
}

.carrousel li q {
    max-width: 90%;
    margin: auto;
    color: #666666;
    font-size: 1.5rem;
    font-weight: bold;
}

.carrousel li img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.carrousel li span.author {
    margin-top:0.5em;
    font-size: 1.2em;
    color: #777777;
    display: block;
}

.carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 0;
    position: absolute; 
    width: 104px;
    left: 50%; 
    margin-left: -52px; 
}

.carrousel input {
    display: none;
}

.carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 12px;
    width: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px rgb(0, 140, 149);
    font-size: 0;
}

#radio-1:checked ~ .slides {
    transform: translateX(0%);
}

#radio-2:checked ~ .slides {
    transform: translateX(-25%);
}

#radio-3:checked ~ .slides {
    transform: translateX(-50%);
}

#radio-4:checked ~ .slides {
    transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
    cursor: pointer;
}

.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
    background: rgb(0, 140, 149);
}


@media  (max-width: 796px) {
    .carrousel {
        height: 12.5rem;
    }
}

@media  (max-width: 480px) {
    .carrousel li p {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .carrousel li q {
        font-size: 1em;
    }
    .carrousel li img {
        width:2em;
        margin-left: -1em;
        margin-right: 0.25em;
    }
}

@media  (max-width: 450px) {
    .carrousel {
        height: 14rem;
    }
}

@media  (max-width: 350px) {
    .carrousel {
        height: 15.5rem;
    }
}
